button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #efeded;
    color: #999999;
}

button:not(:disabled):hover, 
button:not(:disabled):focus {
    background-color: #efeded;
}

.data_actions .delete {
    border: none;
    padding: .63rem;
    display: flex;
    align-items: center;
    gap: .63rem;
    font-size: .94rem;
    background-color: var(--red-dark);
    border-radius: .31rem;
    transition: background-color 0.1s ease;
}

.data_actions .delete p {
    color: var(--main-content) !important;
}

.data_actions .delete:not(:disabled):hover, 
.data_actions .delete:not(:disabled):focus {
    background-color: var(--red-vdark);
}

.data_actions .delete:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
}

.data_actions .delete:disabled p {
    cursor: not-allowed;
}

.data_actions .request {
    border: none;
    padding: .63rem;
    display: flex;
    align-items: center;
    gap: .63rem;
    font-size: .94rem;
    background-color: var(--request-light);
    border-radius: .31rem;
    transition: background-color 0.1s ease;
}

.data_actions .request p {
    color: var(--main-content) !important;
}

.data_actions .request:not(:disabled):hover, 
.data_actions .request:not(:disabled):focus {
    background-color: var(--request-dark);
}

.data_actions .request:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
}

.data_actions .request:disabled p {
    cursor: not-allowed;
}

.data_panel_subheaderC {
    height: 2.5rem;
    width: 100%;
}

.archive_nav_links {
    display: flex;
    height: 100%;
    /* border-bottom: .13rem solid var(--red-dark); */
    padding: .31rem 0;
    /* background: linear-gradient(to right, var(--main-background), var(--main-content)); */
    border-radius: .5rem;
    margin-bottom: .94rem;
}

.archive_nav_links a {
    font-size: 1rem;
    width: 8.13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .31rem .63rem;
    color: var(--black-dark);
    font-weight: 500;
    background-color: var(--main-background-data);
    border-radius: .31rem;
    transition: border-bottom 0.1s ease;
    margin: 0 .94rem 0 0;
    opacity: 0.75;
    /* border-bottom: 0rem solid var(--red-dark); */
    transition: 
        opacity 0.1s ease, 
        background-color 0.1s ease, 
        border-radius 0.1s ease;
}

.archive_nav_links a:hover {
    border-radius: .63rem .63rem 0 0;
    /* border-bottom: .13rem solid var(--red-dark); */
    background-color: var(--main-background-data);
    opacity: 1;
}

/* .archive_nav_links a:hover {
    border-bottom: .13rem solid var(--red-dark);
} */