.nav_links ul li:nth-child(3) {
    background-color: var(--red-vdark);
    opacity: 1;
}

.nav_links ul li:nth-child(3) img {
    opacity: 1;
}

.sort {
    padding: 13px 13px 13px 45px;
    background-color: var(--main-background);
    border: none;
    width: 220px;
    border-radius: 10px;
    color: var(--search);
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand { display: none; }
    pointer-events: auto;
}

.sort option {
    background-color: var(--main-content);
    color: var(--black-dark);
}

/* .sort option:hover,
.sort option:focus {
    background-color: #f8dacf;
    position: relative;
} */

/* MAIN CONTENT */
.data_panel_selection {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;
}

.data_panel_header, .data_panel_subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    margin-bottom: 15px;
}

.data_panel_name {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.data_panel_buttons {
    min-width: 700px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.data_panel_buttonsC {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

    .data_panel_buttons button, .data_panel_buttonsC button {
        font-size: 15px;
        font-weight: 400;
        padding: 10px 13px 10px 10px;
        height: 100%;
        border: none;
        border-radius: 10px;
        color: var(--main-content);
        background-color: var(--purple);
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s ease;
    }

    .data_panel_buttons button:hover {
        background-color: var(--purple-dark);
    }

    .data_panel_buttons button img {
        padding: none;
        width: 20px;
        height: auto;
    }

    .data_panel_buttons form, .data_panel_buttonsC form {
        position: relative;
        display: flex;
        align-items: center;
        
    }

        .custom-arrow {
            position: absolute;
            top: 8px;
            right: 18px; 
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

        .custom-arrow-sort {
            position: absolute;
            top: 8px;
            left: 10px; 
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

.data_panel_selection label {
    font-weight: 400;
    font-size: 15px;
    color: #444;
}

.filter-info span {
    font-size: 15px;
}

select {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid var(--text-outline-light); 
    background-color: var(--main-content);
    font-size: 14px;
    color: #333;
    outline: none; 
    transition: all 0.2s ease;
}

.form {
    margin-top: 15px;
    padding: 0 10%;
}

.form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    gap: 7px;
}

.form form .fullwidth {
    grid-column: 1 / -1;
}

.form form hr.fullwidth {
    grid-column: 1 / -1;
    margin: 1rem 0;
}

.form form .fullwidth p {
    margin: 10px 0;
    font-weight: 500;
    font-size: 18px;
}

form input, form textarea, form select#category, form select#branch_select {
    border: 1px solid var(--input-border);
    background-color: var(--main-content);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin: 7px 0;
}

input#agreement_num {
    background-color: var(--main-background-data) !important;
    border: 1px solid var(--main-background-data);
    font-weight: 500;
}

.form form label {
    margin: 5px 0;
    font-size: 16px;
    opacity: 0.9;
}

.form select {
    cursor: pointer;
    background-color: #fff;
    padding: 8px !important;
}

.button_cont {
    display: flex !important;
    align-items: center !important;
    height: 100%;
}

.input_cont button {
    padding: 8px !important;
    border-radius: 5px !important;
}

.input_cont button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    background-color: var(--purple);
    color: var(--main-content);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.input_cont button[type="submit"]:hover {
    background-color: var(--purple-dark);
}

/*TABLE COLUMNS*/
td:nth-child(7) {
  opacity: 1;
}

th:nth-child(1), td:nth-child(1) {
    width: 2%;
}

th:nth-child(2), td:nth-child(2) {
    width: 8%;
}

th:nth-child(3), td:nth-child(3) {
    width: 23%;
}

th:nth-child(4), td:nth-child(4) {
    width: 20%;
}

th:nth-child(5), td:nth-child(5) {
    width: 13%;
}

th:nth-child(6), td:nth-child(6) {
    width: 16%;
}

th:nth-child(7), td:nth-child(7) {
    width: 8%;
}

th:nth-child(8), td:nth-child(8) {
    width: 10%;
    text-align: center;
}

td:nth-child(6) .truncate { 
    max-width: 220px;     
    white-space: nowrap;    
    overflow: hidden;   
    text-overflow: ellipsis; 
}

    td:nth-child(8) button {
        background-color: transparent;
        border: none;
        margin: 0 2px;
    }

    td:nth-child(8) img {
        width: 80%;
        opacity: 0.6;
    }

    .no_records_found {
        color: var(--black-dark);
        text-align: center; 
        vertical-align: middle; 
        height: 150px; 
        font-weight: 600;
    }

    /* .main_info {
        margin-bottom: 10px;
    }

    .client_name {
        font-size: 17px; 
        font-weight: 500; 
        line-height: 1.5;
    }

    .item_name {
        font-size: 16px; 
        font-weight: 400;
    }

    .more_info {
        font-size: 15px;
        font-weight: 400; 
        padding: 6px 8px; 
        border-radius: 5px;
        background-color: var(--main-background); 
        color: var(--black-dark);
        opacity: 0.85;
        margin-right: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "peso" "due" "status" "branch";
    }

        .more_info_span {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--black-dark);
            font-size: 15px;
            font-weight: 400; 
        }

        .peso_span {
            grid-area: peso;
        }
        .due_span {
            grid-area: due;
        }
        .branch_span {
            grid-area: branch;
        }
        .status_span {
            grid-area: status;
        }

        .peso {
            font-size: 12px;
            font-style: normal;
            padding: 5px;
            border-radius: 5px;
            background-color: #457638; 
            background-color: var(--black-dark);
            color: var(--main-content)
        }
        .due {
            font-size: 12px;
            font-style: normal;
            padding: 5px;
            border-radius: 5px;
            background-color: var(--black-dark);
            color: var(--main-content)
        }
        .branch {
            font-size: 12px;
            font-style: normal;
            padding: 5px;
            border-radius: 5px;
            background-color: var(--black-dark);
            color: var(--main-content)
        }

    .due_date {
        font-size: 15px;
        font-weight: 400;
        padding: 5px; 
        border-radius: 5px;
        background-color: var(--main-background); 
        color: var(--black-dark);
        opacity: 0.85;
    } 
*/