.nav_links ul li:nth-child(4) {
    background-color: var(--red-vdark);
    opacity: 1;
}

.nav_links ul li:nth-child(4) img {
    opacity: 1;
}


/* MAIN CONTENT */
.data_panel_selection {
    display: flex;
    align-items: center;
    gap: .63rem; 
    margin-bottom: .63rem;
}

.data_panel_header, .data_panel_subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .63rem; 
    margin-bottom: .94rem;
}

.data_panel_name {
    display: flex;
    align-items: center;
    gap: .94rem;
}

.data_panel_buttons {
    min-width: 50rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .94rem;
}

    .data_panel_buttons button {
        font-size: .94rem;
        font-weight: 400;
        padding: .63rem .81rem .63rem .63rem;
        height: 100%;
        border: none;
        border-radius: .63rem;
        color: var(--main-content);
        background-color: var(--purple);
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s ease;
    }

    .data_panel_buttons button:hover {
        background-color: var(--purple-dark);
    }

    .data_panel_buttons button img {
        padding: none;
        width: 1.25rem;
        height: auto;
    }

    .data_panel_buttons form {
        position: relative;
        display: flex;
        align-items: center;
        
    }

        .custom-arrow {
            position: absolute;
            top: .5rem;
            right: 1.13rem; 
            width: 1rem;
            height: 1rem;
            cursor: pointer;
        }

        .custom-arrow-sort {
            position: absolute;
            top: .5rem;
            left: .63rem; 
            width: 1rem;
            height: 1rem;
            cursor: pointer;
        }


    .sort {
        padding: .81rem .81rem .81rem 2.81rem;
        background-color: var(--main-background);
        border: none;
        width: 13.75rem;
        border-radius: .63rem;
        color: var(--search);
        text-align: left;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand { display: none; }
        pointer-events: auto;
        outline: none;
        font-size: .88rem;
    }

    .sort option {
        background-color: var(--main-content);
        color: var(--black-dark);
    }

.data_panel_selection label {
    font-weight: 400;
    font-size: 1rem;
    color: #444;
}

input#client_name, input#item_name, input#interest, input#principal {
    background-color: var(--main-background-data) !important;
    border: .06rem solid var(--main-background-data);
    font-weight: 500;
}
input#amount {
    /* background-color: var(--main-background-data) !important; */
    border: .06rem solid var(--input-border);
}
select#agreement_num, select#mode_of_payment, select#type_of_payment {
    /* background-color: var(--main-background-data) !important; */
    border: .06rem solid var(--input-border) !important;
}
select option{
    background-color: var(--main-content) !important;
}

.input_cont button {
    padding: .5rem !important;
    border-radius: .31rem !important;
}

.button_cont {
    display: flex !important;
    align-items: center !important;
    height: 100%;
}

/* .input_cont:nth-last-child(1) {
    padding: 0 0 .63rem;
} */

.filter-info span {
    font-size: .94rem;
}


.form {
    padding: .63rem 10% 0;
}

.form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: .44rem;
}

.form form .fullwidth {
    grid-column: 1 / -1;
}

.form form hr.fullwidth {
    grid-column: 1 / -1;
    margin: 16px 0;
}

.form form .fullwidth p {
    margin: .63rem 0;
    font-weight: 500;
    font-size: 1.13rem;
}

form input, form textarea, form select#agreement_num, form select#mode_of_payment, form select#type_of_payment {
    border: .06rem solid var(--nav-focused);
    background-color: var(--main-content);
    padding: .63rem;
    border-radius: .31rem;
    outline: none;
    width: 100%;
    margin: .31rem 0;
}

.form form label {
    margin: .31rem 0;
    font-size: 1rem;
    opacity: 0.9;
}

.form select {
    cursor: pointer;
    background-color: #fff;
}

.form input:disabled {
    border: .06rem solid var(--nav-focused);
    background-color: var(--main-content);
    padding: .63rem;
    border-radius: .31rem;
    outline: none;
    width: 100%;
    margin: .31rem 0;
    color: var(--nav-unfocused);
}

.form button[type="submit"] {
    width: 100%;
    margin-top: 1.25rem;
    padding: .75rem 1.25rem;
    font-size: 16px;
    background-color: var(--purple);
    color: var(--main-content);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.1s;
}

.form button[type="submit"]:hover {
    background-color: var(--purple-dark);
}

th:nth-child(1), td:nth-child(1) {
    width: 2%;
}

th:nth-child(2), td:nth-child(2) {
    width: 8%;
}

th:nth-child(3), td:nth-child(3) {
    width: 27%;
}

th:nth-child(4), td:nth-child(4) {
    width: 25%;
}

th:nth-child(5), td:nth-child(5) {
    width: 10%;
}

th:nth-child(6), td:nth-child(6) {
    width: 10%;
}

th:nth-child(7), td:nth-child(7) {
    width: 8%;
}

th:nth-child(8), td:nth-child(8) {
    width: 10%;
    text-align: center;
}

    td:nth-child(9) button {
        background-color: transparent;
        border: none;
        margin: 0 .13rem;
    }

    td:nth-child(9) img {
        width: 80%;
        opacity: 0.6;
    }

    .no_records_found {
        color: var(--black-dark);
        text-align: center; 
        vertical-align: middle; 
        height: 9.38rem; 
        font-weight: 600;
    }