.main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: var(--red-gradient);
    overflow: hidden;
}

    .login_panel {
        background-color: var(--main-background-login);
        min-width: 31.25rem;
        flex: 1 1 31.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 1.88rem 1.88rem 0;
    }

        .login_panel_container {
            padding: 1.25rem;
        }

            .login_panel .login_panel_container .logo {
                width: 100%;
                display: flex;
                gap: 1.50rem;
                align-items: center;
            }

            .login_panel .login_panel_container .logo img:first-child {
                height: 8rem;
            }

            .login_panel .login_panel_container .logo img:last-child {
                height: 3.5rem;
            }

            .login_panel .login_panel_container  .login_header {
                padding: 0 0 1.25rem;

            }

                .login_panel .login_panel_container .login_input .input_container {
                    position: relative;
                }

                    .login_panel .login_panel_container .login_input .input_container input[type="text"] {
                        margin: .63rem 0;
                        padding: .88rem .88rem .88rem 3.13rem;
                        font-size: 1rem;
                        border-radius: .63rem;
                        border: .06rem solid var(--text-outline-light);
                        width: 100%;
                        outline: none;
                    }

                    .login_panel .login_panel_container .login_input .input_container .left_icon1, .login_panel .login_panel_container .login_input .input_container .left_icon2, .login_panel .login_panel_container .login_input .input_container .left_icon3, .login_panel .login_panel_container .login_input .input_container .left_icon4  {
                        position: absolute;
                        top: 50%;
                        left: .94rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        transform: translateY(-50%);
                        opacity: 0.6;
                        z-index: 99;
                    }

                    .login_panel .login_panel_container .login_input .input_container .left_icon2 {
                        display: none;
                    }

                    .login_panel .login_panel_container .login_input .input_container:focus-within .left_icon2 {
                        display: block;
                        opacity: 0.9;
                    }

                    .login_panel .login_panel_container .login_input .input_container .left_icon4 {
                        display: none;
                    }

                    .login_panel .login_panel_container .login_input .input_container:focus-within .left_icon4 {
                        display: block;
                        opacity: 0.9;
                    }

                    

                    .login_panel .login_panel_container .login_input .input_container input[type="text"]:focus {
                        border-color: var(--red-dark);
                    }

                    .login_panel .login_panel_container .login_input .input_container input[type="text"]:focus + .left_icon1 {
                        display: none;
                    }

                    .login_panel .login_panel_container .login_input .input_container input[type="text"]:focus + .left_icon2 {
                        display: block;
                    }

                    

                    .login_panel .login_panel_container .login_input .input_container .visibility_icon, .login_panel .login_panel_container .login_input .input_container .visibility_icon2 {
                        position: absolute;
                        top: 50%;
                        right: .94rem;
                        width: 1.38rem;
                        height: 1.38rem;
                        transform: translateY(-50%);
                        opacity: 0.6;
                        cursor: pointer;
                    }

                    .login_panel .login_panel_container .login_input .input_container .visibility_icon2 {
                        display: none;
                    }

                    .login_panel .login_panel_container .login_input .input_container:focus-within .visibility_icon2 {
                        display: block;
                        opacity: 0.9;
                    }

                    .login_panel .login_panel_container .login_input .input_container input[type="password"] {
                        margin: .63rem 0;
                        padding: .88rem .88rem .88rem 3.13rem;
                        font-size: 1rem;
                        border-radius: .63rem;
                        border: .06rem solid var(--text-outline-light);
                        width: 100%;
                        outline: none;
                    }

                    .login_panel .login_panel_container .login_input .input_container input[type="password"]:focus {
                        border-color: var(--red-dark);
                    }

                    .login_panel .login_panel_container .login_input input[type="checkbox"] {
                        accent-color: var(--red-dark);
                        cursor: pointer;
                        margin-right: .63rem;
                    }

                    .login_panel .login_panel_container .login_input label {
                        opacity: 0.8;
                    }

                    .login_subcontent {
                        width: 100%; 
                        display: flex; 
                        justify-content: space-between; 
                        align-items: center;
                    }

                    .subcontent_left, .subcontent_right {
                        display: flex;
                        align-items: center;
                    }

                    .subcontent_right a {
                        font-weight: 500; 
                        color: var(--red-dark);
                    }

                    .subcontent_right a:hover {
                        text-decoration: underline;
                    }

            .login_panel .login_panel_container .login_btn_cont {
                margin: 1.88rem 0 1.88rem;
            }

                .login_panel .login_panel_container .login_btn_cont button {
                    width: 100%;
                    padding: .94rem;
                    border-radius: .63rem;
                    color: var(--main-content);
                    background-color: var(--red-light);
                }

                .login_panel .login_panel_container .login_btn_cont button {
                    width: 100%;
                    padding: .94rem;
                    border-radius: .63rem;
                    color: var(--main-content);
                    background-color: var(--red-dark);
                    border: none;
                }

                .login_panel .login_panel_container .login_btn_cont button:hover {
                    background-color: var(--red-hover);
                    transition: 0.2s;
                }

                .login_panel .login_panel_container .login_btn_cont :not(button:hover) {
                    background-color: var(--red-dark);
                    transition: 0.2s;
                }

            .login_panel .login_panel_container .login_footer {
                margin-top: 10%;
                text-align: center;
            }

            .login_panel .login_panel_container .login_footer p {
                font-size: .81rem;
                opacity: 0.7;
            }

    .login_graphic {
        background-color: transparent;
        padding: 2.5rem;
        min-width: 31.25rem;
        flex: 2.3 1 31.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .login_graphic .graphic_img {
            height: 40%;
        }

        .login_graphic .graphic_img img {
            width: 100%;
            height: auto;
            max-width: 40.63rem;
            object-fit: contain;
        }
        
        .login_graphic .graphic_text {
            text-align: center;
            line-height: 2;
        }

        .login_graphic .graphic_text h2, .login_graphic .graphic_text p {
            color: var(--main-content);
        }


/*Responsiveness*/
@media (max-width: 87.5rem) {
    .login_graphic {
        padding: 2.5rem;
    }

    .login_graphic .graphic_img {
        height: 27%;
    }

    .login_graphic .graphic_img img {
        max-width: 26.88rem;
    }

    .login_panel {
        min-width: 21.88rem;
        padding: 3.13rem;
        border-radius: 0 .75rem .75rem 0;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    input#username, input#password {
        font-size: .94rem;
        padding: .69rem .69rem .69rem 2.5rem;
        border-radius: .31rem !important;
    }

    label, a {
        margin-top: .31rem;
        font-size: .88rem !important;
    }

    .login_panel .login_panel_container .login_input .input_container .left_icon1, .login_panel .login_panel_container .login_input .input_container .left_icon2, .login_panel .login_panel_container .login_input .input_container .left_icon3, .login_panel .login_panel_container .login_input .input_container .left_icon4, .login_panel .login_panel_container .login_input .input_container .visibility_icon, .login_panel .login_panel_container .login_input .input_container .visibility_icon2 {
        height: auto;
        width: 1.13rem;
    }

    .login_btn_cont button {
        padding: .69rem !important;
        font-size: .94rem;
        border-radius: .31rem !important;
    }

    .login_footer p {
        font-size: .81rem;
    }
}

@media (max-width: 64rem) {
    .login_graphic {
        display: none;
    }

    .login_panel {
        min-width: 21.88rem;
        padding: 3.13rem;
        border-radius: 0;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1.13rem;
    }

    p {
        font-size: 1rem;
    }

    label, a {
        font-size: .88rem;
        padding: .63rem;
    }

    .login_panel .login_panel_container .login_input .input_container input[type="text"], .login_panel .login_panel_container .login_input .input_container input[type="password"] {
        font-size: .88rem;
    }

    .login_panel .login_panel_container .login_input .input_container .left_icon1, .login_panel .login_panel_container .login_input .input_container .left_icon2, .login_panel .login_panel_container .login_input .input_container .left_icon3, .login_panel .login_panel_container .login_input .input_container .left_icon4, .login_panel .login_panel_container .login_input .input_container .visibility_icon, .login_panel .login_panel_container .login_input .input_container .visibility_icon2 {
        height: auto;
        width: 1.13rem;
    }

    button {
        padding: .63rem;
    }
}

@media (max-width: 37.5rem) {
    .login_panel {
        justify-content: start;
        padding: 1.25rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    p {
        font-size: .94rem;
    }

    label, a {
        font-size: .81rem;
        padding: .44rem;
    }

    .login_panel .login_panel_container .login_input .input_container .left_icon1, .login_panel .login_panel_container .login_input .input_container .left_icon2, .login_panel .login_panel_container .login_input .input_container .left_icon3, .login_panel .login_panel_container .login_input .input_container .left_icon4, .login_panel .login_panel_container .login_input .input_container .visibility_icon, .login_panel .login_panel_container .login_input .input_container .visibility_icon2 {
        height: auto;
        width: 1rem;
    }

    button {
        padding: .44rem;
        font-size: .88rem;
    }
}